/* default css */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        background: red;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        background: pink;
    }
}

html {
    scroll-behavior: smooth;
}

/* css for semantic elements */
body {
    width: 90%;
    box-sizing: content-box;
    position: relative;
    margin: 10px;
    line-height: 1.5;
    font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif
}

/* css to control the header and its content */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    /* letter-spacing: 1px; */
    font-weight: 700;
    width: 100%;
}

/* control the location of the picture */
#profilepic {
    float: left;
    height: 105px;
    width: 110px;
    border: 2px;
    margin: 20px;
    border-style: solid;
    border-color: black;
}

#aboutcontent {
    float: right;
    display: flex;

}

.header_content {
    margin: 0;
    padding: 0;
}

nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #0062b9;
}

ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#titlecontainer {
    display: flex;
    align-items: flex-start;
    position: relative;
}

#mainwrapper {
    width: 100%;
}

.sectionwrapper {
    display: flex;
}

section {
    display: flex;
    flex-direction: row;
    border: 2px;
    /* border-width: 2px; */
    border-style: solid;
    border-color: #333;
}

.linkwrapper {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

li {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    list-style: none
}

/* css for About me section */
#about {
    width: 100%;
}

/* css for the knowledge section */
#knowledge {
    display: flex;
    flex-wrap: wrap;
}

/* css for the portfolio section */
#portfolio {
    display: flex;
    flex-wrap: wrap;
}

#project1 {
    width: 80%;
}

/* css for contact me section */
#contactme {
    flex-wrap: wrap;
    display: flex;
}

#pro1 {
    display: flex;
    flex-wrap: wrap;
}

#pro1img {
    align-items: center;
    width: 400px;
    height: 300px;
}