/* default css */
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        background: pink;
    }
}

/* css for semantic elements */
body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.2rem 3rem;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
}

section {
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0062b9;
}

li {
    list-style: none
}

#knowledge {
    display: flex;
    flex-wrap: wrap;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
}

/* css for contact me section */
#contactme {
    display: flex;
    flex-wrap: wrap;
}